@model ShopM4_Models.ViewModels.OrderHeaderDetailViewModel

<form method="post">

    <input asp-for="OrderHeader.Id" hidden />

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <h1>Details</h1>
            </div>
            <div class="col-sm">
                <a asp-controller="Order" asp-action="Index" class="btn btn-primary mb-3">Return to Orders</a>
            </div>
        </div>

        <div class="row">

            <!-- Details Order -->
            <div class="col-sm">
                <h2>Details Order</h2>

                <div class="form-group">
                    <label for="OrderHeader.FullName">Full Name: </label>
                    <input asp-for="OrderHeader.FullName" type="text" class="form-control" />
                    <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>
                </div>

                <!-- similar changes for the rest of the form fields -->

            </div>

            <!-- Product Details -->
            <div class="col-sm">
                <h2>Product Details</h2>

                @foreach (var item in Model.OrderDetail)
                {
                    <div class="mb-2 bg-light p-2">
                        <h5>Product Name: @item.Product.Name</h5>

                        <div>
                            Price: @item.PricePerUnit
                        </div>
                        <div>
                            Count: @item.Count
                        </div>
                        <div>
                            Total: @(item.PricePerUnit * item.Count)
                        </div>
                    </div>
                }

                <div>
                    <h2> Final Total: @Model.OrderHeader.TotalPrice </h2>
                </div>


                <!-- BUTTONS -->
                @if (Model.OrderHeader.Status == ShopM4_Utility.PathManager.StatusAccepted)
                {
                    <div class="mb-2">
                        <input asp-action="StartInProcessing" type="submit" value="In Processing" class="btn btn-primary w-100" />
                    </div>
                }
                @if (Model.OrderHeader.Status == ShopM4_Utility.PathManager.StatusInProcess)
                {
                    <div class="mb-2">
                        <input asp-action="StartOrderDone" type="submit" value="Order Done" class="btn btn-primary w-100" />
                    </div>
                }
                @if (Model.OrderHeader.Status != ShopM4_Utility.PathManager.StatusDenied)
                {
                    <div class="mb-2">
                        <input asp-action="StartOrderCancel" type="submit" value="Cancel Order" class="btn btn-primary w-100" />
                    </div>
                }

            </div>

        </div>

    </div>

</form>